{% load static %}
<link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vendor/flaticon/flaticon.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vendor/slick.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vendor/slick-theme.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vendor/sal.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vendor/magnific-popup.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vendor/base.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/style.min.css'%}" type="text/css">